@media (max-width: 1300px) {
  .hero-container-positions {
    justify-content: center;
  }

  main {
    max-width: none;
    width: 100%;
    display: block;
  }

  .recipe-card-header {
    max-width: none;
  }

  .section-header img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }

  .recipe-inner {
    padding-inline: 16px;
  }

  .recipe-header-left,
  .recipe-header-right {
    width: max-content;
  }

  .recipe-title {
    font-size: 40px;
    line-height: 100%;
  }
}

@media (max-width: 1000px) {
  .recipe-card-header {
    flex-direction: column;
    gap: 48px;
  }

  .header-chefs-icons {
    gap: 0;
  }

  .header-chefs-label {
    display: none;
  }

  .recipe-tag-row {
    order: 1;
    gap: 8px;
  }

  .nutri-card {
    order: 0;
    padding-left: 0;
  }

  .recipe-header-right {
    gap: 24px;
  }

  .header-chefs {
    padding-top: 8px;
  }

  .recipe-footer {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .generate-btn-container {
    display: none;
  }

  .steps-list {
    column-gap: 0;
    row-gap: 32px;
    display: flex;
    flex-direction: column;
    padding-inline: 16px;
  }

  .recipe-card {
    padding: 12px 10px;
  }

  .ingredients-content {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .section-header h2 {
    font-size: 24px;
  }

  .directions-text {
    padding-top: 16px;
  }

  .footer-left {
    padding: 20px 24px;
    gap: 16px;
  }

  .recipe-bold-text {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    flex-direction: column;
  }

  .recipe-small-text {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .recipe-like-footer {
    padding-top: 40px;
    gap: 8px;
    padding-left: 16px;
    justify-content: flex-start;
  }

  .ingredients-column h3 {
    font-size: 18px;
  }

  .ingredients-column li {
    font-size: 18px;
    line-height: 20px;
  }

  .footer-left p {
    font-size: 18px;
  }

  .recipe-header-left,
  .recipe-header-right {
    width: 100%;
  }

  .step-header {
    gap: 8px;
  }
}

@media (max-width: 650px) {
  .directions-text {
    padding-top: 8px;
  }

  .recipe-card-header {
    padding: 16px;
  }

  .recipe-inner {
    padding-inline: 8px;
  }

  .recipe-title {
    font-size: 24px;
  }
  .step-title {
    font-size: 18px;
  }

  .step-text {
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
  }

  .recipe-bold-text,
  .nutri-label,
  .nutri-value {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
  }

  .recipe-small-text {
    line-height: 20px;
  }

  .footer-left {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .header-time {
    font-size: 18px;
    line-height: 100%;
  }

  .mobile-toggle {
    display: inline-flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .padding {
    padding: 8px 16px;
    transition:
      background-color 300ms ease-out,
      transform 300ms ease-out;
    &:hover {
      background-color: rgba(57, 96, 57, 0.1);
    }
  }

  .width {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .ingredients-content.collapsed,
  .steps-list.collapsed {
    display: none;
  }

  .directions-section {
    gap: 0;
  }

  .steps-list {
    padding-top: 24px;
  }

  .recipe-like-footer {
    padding-top: 32px;
  }
}

@media (max-width: 450px) {
  .back-link span {
    display: none;
  }

  .footer-left {
    flex-direction: column;
  }

  .footer-left p {
    font-size: 18px;
    text-align: center;
  }

  .recipe-inner {
    margin-top: 120px;
  }

  .recipe-header-right {
    width: auto;
  }

  .recipe-tag-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .recipe-card {
    padding: 24px 8px 32px 8px;
  }

  .ingredients-content,
  .recipe-like-footer {
    padding-left: 8px;
  }

  .steps-list {
    padding-inline: 8px;
  }

  .directions-text {
    padding-top: 0;
  }

  .nutri-title {
    margin: 0 0 16px;
  }

  .nutri-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 330px) {
  .nutri-grid {
    display: flex;
    column-gap: 8px;
  }
}
