.recipe-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  max-width: 1920px;
  display: flex;
}

.header-container {
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.recipe-header {
  position: absolute;
}

.recipe-inner {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.back-link {
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: var(--font-quicksand);
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  color: var(--color-text-green);
  padding: 0;
}

.recipe-card {
  background-color: rgba(250, 240, 230, 0.3);
  border-radius: 32px;
  padding: 40px 48px 40px 48px;
  border: 4px solid rgba(250, 240, 230, 1);
  display: flex;
  flex-direction: column;
  color: var(--color-text-dark-green);
}

.recipe-card-header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(250, 240, 230, 1);
  border-radius: 20px;
  padding: 24px;
  max-width: 1152px;
}

.recipe-header-left {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex-direction: column;
  width: 56%;
}

.header-time {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-light-green);
}

.header-chefs-pos {
  display: flex;
  gap: 4px;
  margin-right: 16px;
  padding: 3px;
  border-radius: 6px;
}

.header-chefs-pos span {
  font-family: var(--font-quicksand);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-dark-green);
  line-height: 100%;
  display: flex;
  align-items: center;
}

.header-chefs {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-top-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-chefs-label {
  font-size: 20px;
  font-family: "Quicksand";
  line-height: 20px;
  font-weight: 500;
  color: var(--color-text-dark-green);
}

.header-chefs-icons {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.chef-bg-1 {
  background-color: rgba(215, 223, 215, 1);
}

.chef-bg-2 {
  background-color: rgba(255, 217, 179, 1);
}

.chef-bg-3 {
  background-color: rgba(207, 215, 0, 0.3);
}

.recipe-title {
  font-size: 54px;
  line-height: 65px;
  font-weight: 600;
  margin: 0;
  color: var(--color-text-green);
}

.recipe-header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  width: 37%;
}

.recipe-tag-row {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 30px;
  background-color: rgba(57, 96, 57, 0.2);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.nutri-card {
  width: 100%;
  border-radius: 16px;
  padding-left: 8px;
}

.nutri-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.nutri-grid {
  display: flex;
  column-gap: 16px;
}

.nutri-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nutri-label {
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  color: var(--color-text-dark-green);
}

.nutri-value {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.like-badge {
  border: none;
  background-color: rgba(57, 96, 57, 0.3);
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 30px;
  cursor: pointer;
  font-family: var(--font-quicksand);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-text-dark-green);
  justify-content: center;
  max-width: 64px;
  min-width: 64px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header h2 {
  position: absolute;
  font-size: 32px;
  line-height: 100%;
  font-weight: 600;
  color: var(--color-text-green);
}

.ingredients-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 360px));
  justify-content: center;
  justify-items: center;
  gap: 40px;
}

.ingredients-column h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin: 0 0 16px;
  color: var(--color-btn-green);
}

.ingredients-column ul {
  list-style: inside;
  padding: 0;
  margin: 0;
}

.ingredients-column li {
  font-size: 24px;
  line-height: 100%;
  font-family: var(--font-quicksand);
  font-weight: 500;
  color: var(--color-text-dark-green);
}

.ingredients-column .placeholder {
  opacity: 0.7;
}

.ingredients-section {
  padding-top: 40px;
}

.directions-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.directions-text {
  padding-top: 24px;
}

.steps-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 400px));
  column-gap: 64px;
  row-gap: 64px;
}

.step-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.step-number {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(250, 240, 230, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.step-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.step-title-container {
  display: flex;
  gap: 8px;
}

.step-body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: max-content;
}

.step-chef {
  display: inline-flex;
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
}

.step-chef span {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-text-dark-green);
}

.step-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-text-dark-green);
  word-break: break-word;
}

.step-text {
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: var(--color-text-dark-green);
  word-break: break-word;
  padding-top: 32px;
}

.step-title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipe-like-footer {
  padding-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.recipe-bold-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--color-text-dark-green);
  display: flex;
  align-items: center;
  gap: 8px;
}

.recipe-small-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-text-dark-green);
}

.fav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 7px 6px 7px 6px;
  display: inline-flex;
  align-items: center;
  border-radius: 16px;
  transition:
    background-color 300ms ease-out,
    transform 300ms ease-out;
  &:hover {
    background-color: rgba(215, 223, 215, 0.6);
  }
  img {
    transition:
      transform 0.15s ease,
      filter 0.15s ease;
  }
}

.fav-btn--active img {
  transform: scale(1.05);
  filter: brightness(1.2) saturate(1.3);
}

.recipe-footer {
  border-radius: 20px;
  margin-top: 56px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-cremy);
  background-color: rgba(57, 96, 57, 0.1);
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 40px 0 40px 0;
}

.footer-left p {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: var(--color-text-dark-green);
}

.generate-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 106px;
}

.footer-generate {
  border: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: var(--font-quicksand);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-text-green);
  padding: 16px 26px 16px 26px;
  transition:
    background-color 300ms ease-out,
    transform 300ms ease-out;
  &:hover {
    background-color: rgba(57, 96, 57, 0.1);
  }
}

.not-found {
  color: var(--color-text-cremy);
  font-size: 20px;
  margin-top: 40px;
}

.mobile-toggle {
  display: none;
  border: none;
  background: transparent;
  font-family: var(--font-quicksand);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-text-green);
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}
