@media (max-width: 1100px) {
  .cards-row {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
    flex-direction: column;
    width: 100%;
  }

  .list-card {
    width: 576px;
  }

  .list-card--small {
    height: 180px;
  }

  .list-card--medium {
    height: 220px;
  }

  .list-card--large {
    height: 230px;
  }

  .list-card--large .ingredient-list {
    max-height: 170px;
  }

  .actions-row {
    justify-content: center;
  }

  .generate-inner {
    width: 576px;
  }

  .green-btn {
    font-size: 16px;
    width: 128px;
  }

  .generate h3 {
    margin: 0 0 40px;
  }
}

@media (max-width: 600px) {
  main {
    padding-inline: 16px;
  }

  .generate h1 {
    font-size: 32px;
    line-height: 100%;
  }

  .generate h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .generate label {
    font-size: 18px;
    margin-top: 16px;
  }

  .generate-inner,
  .ingredients-input-card,
  .list-card {
    width: 100%;
  }

  .ingredients-input-card {
    flex-direction: column;
    height: 240px;
    padding: 25px 20px;
  }

  .serving-size-container {
    margin-left: 0;
  }

  .input-add {
    width: auto;
  }

  .generate-inner {
    margin-top: 96px;
    margin-bottom: 40px;
  }

  .list-card--small {
    height: 148px;
  }

  .list-card--medium {
    height: 190px;
  }

  .list-card--large {
    height: 150px;
  }

  .list-card--large .ingredient-list {
    max-height: 110px;
  }
}
